absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alembic==1.13.1
altair==5.3.0
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
appnope==0.1.3
arxiv==2.1.3
asgiref==3.8.1
astor==0.8.1
astrapy==1.4.1
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
auth0-python==4.7.2
Automat==22.10.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.3
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.6.2
blis==0.7.11
bokeh==3.5.2
boto3==1.34.131
botocore==1.34.131
branca==0.7.2
Brotli==1.1.0
build==1.2.1
cachetools==5.3.3
Cartopy==0.23.0
cassandra-driver==3.29.1
cassio==0.1.8
catalogue==2.0.10
cattrs==24.1.2
certifi==2024.8.30
cffi==1.16.0
cftime==1.6.4
charset-normalizer==3.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.24
click==8.1.7
click-default-group==1.2.4
cloudpathlib==0.18.1
cloudpickle==2.2.1
cmocean==4.0.3
cohere==5.5.8
coloredlogs==15.0.1
comm==0.1.4
confection==0.1.5
configparser==6.0.0
constantly==23.10.4
contourpy==1.3.0
crewai==0.76.2
crewai-tools==0.13.2
cryptography==43.0.3
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.8
dataclasses-json==0.6.7
datasets==2.17.1
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.7.0/de_core_news_sm-3.7.0-py3-none-any.whl#sha256=d88c737eb7eb766f730f6a2dcb99dfcdb81623e1e0d89a9c638a2182ac19c52e
debugpy==1.6.7.post1
decorator==5.1.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.8
distro==1.9.0
Django==3.2.25
dnspython==2.6.1
docker==7.1.0
docstring_parser==0.16
docx2txt==0.8
email_validator==2.2.0
embedchain==0.1.123
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl#sha256=61e6e5530941f5880166855f09f60d7e6ba79ec1e8e45f96244bdb1eb169eb1d
et-xmlfile==1.1.0
executing==1.2.0
fastapi==0.111.0
fastapi-cli==0.0.4
fastavro==1.9.4
feedparser==6.0.11
filelock==3.13.1
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==24.3.25
folium==0.17.0
fonttools==4.42.0
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl#sha256=37e9f1f6a278a5138fabdabcc92cc559da917f9b24c76f0adf6758720d7eab10
frozenlist==1.4.0
fsspec==2023.10.0
gast==0.6.0
geographiclib==2.0
geomet==0.2.1.post1
geopy==2.4.1
geovista==0.5.1
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.1
google-api-python-client==2.149.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-aiplatform==1.56.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.3
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
gotrue==2.9.3
gptcache==0.1.43
grpc-google-iam-v1==0.13.1
grpcio==1.64.1
grpcio-status==1.62.2
grpcio-tools==1.62.3
gunicorn==21.2.0
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hpack==4.0.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.23.4
humanfriendly==10.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.7
imageio==2.34.0
imbalanced-learn==0.12.2
imblearn==0.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
incremental==22.10.0
iniconfig==2.0.0
instructor==1.3.3
ipykernel==6.25.1
ipython==8.14.0
it-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-3.7.0/it_core_news_sm-3.7.0-py3-none-any.whl#sha256=c6a300c7d7b440cee6a896f648bce744c9f091375dc8d7ff834a8930d59eb4bd
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
jiter==0.4.2
jmespath==1.0.1
joblib==1.3.2
json_repair==0.30.0
jsonpatch==1.33
jsonpickle==3.3.0
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.3.0
jupyter_core==5.3.1
keras==3.4.1
kiwisolver==1.4.4
kubernetes==30.1.0
lancedb==0.5.7
langchain==0.3.4
langchain-astradb==0.3.3
langchain-cohere==0.3.1
langchain-community==0.3.3
langchain-core==0.3.13
langchain-experimental==0.3.2
langchain-openai==0.2.3
langchain-text-splitters==0.3.0
langchainhub==0.1.21
langcodes==3.4.0
langdetect==1.0.9
langsmith==0.1.137
language_data==1.2.0
lazy_loader==0.4
libclang==18.1.1
linkify-it-py==2.0.3
litellm==1.51.0
llvmlite==0.40.1
lxml==5.2.1
Mako==1.3.5
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.21.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.2
mdurl==0.1.2
mem0ai==0.1.24
ml-dtypes==0.3.2
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.16
murmurhash==1.0.10
mutagen==1.47.0
mypy-extensions==1.0.0
namex==0.0.8
nest-asyncio==1.5.7
netCDF4==1.7.1.post2
networkx==3.2.1
nltk==3.8.1
nodeenv==1.9.1
numba==0.57.1
numpy==1.25.2
oauthlib==3.2.2
onnxruntime==1.18.0
openai==1.52.2
openmeteo_requests==1.3.0
openmeteo_sdk==1.18.0
openpyxl==3.1.5
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-exporter-otlp-proto-http==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.5
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==1.5.3
pandasai==0.8.4
panel==1.5.0
param==2.1.1
parameterized==0.9.0
parsel==1.9.1
parso==0.8.3
patsy==0.5.6
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
plotly==5.24.1
plotly-express==0.4.1
pluggy==1.5.0
pooch==1.8.2
portalocker==2.10.1
postgrest==0.17.2
posthog==3.5.0
preshed==3.0.9
prompt-toolkit==3.0.39
propcache==0.2.0
Protego==0.3.1
proto-plus==1.24.0
protobuf==4.25.3
psutil==5.9.5
ptyprocess==0.7.0
pulsar-client==3.5.0
pure-eval==0.2.2
py==1.11.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.7.4
pydantic-settings==2.6.0
pydantic_core==2.18.4
pydeck==0.9.1
PyDispatcher==2.0.7
PyGithub==1.59.1
Pygments==2.16.1
PyJWT==2.8.0
pykdtree==1.3.13
pylance==0.9.18
pymongo==4.8.0
PyNaCl==1.5.0
pyOpenSSL==24.1.0
pyparsing==3.0.9
pypdf==5.0.1
PyPDF2==3.0.1
PyPika==0.48.9
pyproj==3.6.1
pyproject_hooks==1.1.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
pyright==1.1.368
pysbd==0.3.4
pyshp==2.3.1
PySocks==1.7.1
pytest==8.2.2
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-magic==0.4.27
python-multipart==0.0.9
pytube==15.0.0
pytz==2024.2
pyvis==0.3.2
pyvista==0.44.1
pyvistaqt==0.11.1
pyviz_comms==3.0.3
PyWavelets==1.5.0
PyYAML==6.0.1
pyzmq==25.1.1
qdrant-client==1.12.0
QtPy==2.4.1
queuelib==1.6.2
ratelimiter==1.2.0.post0
realtime==2.0.6
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-cache==1.2.1
requests-file==2.0.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retry==0.9.2
retry-requests==2.0.0
rich==13.7.1
rpds-py==0.19.1
rsa==4.9
s3transfer==0.10.1
schema==0.7.7
scikit-image==0.19.3
scikit-learn==1.4.1.post1
scipy==1.11.4
scooby==0.10.0
Scrapy==2.11.1
seaborn==0.13.2
selenium==4.22.0
semver==3.0.2
service-identity==24.1.0
sgmllib3k==1.0.0
shap==0.42.1
shapely==2.0.4
shellingham==1.5.4
six==1.16.0
skfeature-chappers==1.1.0
slicer==0.0.7
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spark-parser==1.8.9
SQLAlchemy==2.0.31
sqlparse==0.5.0
srsly==2.4.8
stack-data==0.6.2
starlette==0.37.2
statsmodels==0.14.3
storage3==0.8.2
stpyvista==0.0.19
streamlit==1.37.0
streamlit-chat==0.1.1
streamlit-shap==1.0.2
streamlit_folium==0.22.1
supabase==2.9.1
supafunc==0.6.2
sympy==1.12
tabulate==0.9.0
tenacity==8.4.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.0
termcolor==2.4.0
thinc==8.2.5
threadpoolctl==3.2.0
tifffile==2024.2.12
tiktoken==0.7.0
tldextract==5.1.2
tokenizers==0.19.1
toml==0.10.2
tomli_w==1.1.0
toolz==0.12.1
torch==2.2.1
tornado==6.3.3
tqdm==4.66.4
traitlets==5.9.0
trio==0.25.1
trio-websocket==0.11.1
Twisted==24.3.0
typer==0.12.3
types-requests==2.32.0.20240622
typing-inspect==0.9.0
typing_extensions==4.12.2
uc-micro-py==1.0.3
ujson==5.10.0
uncompyle6==3.7.4
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==2.2.3
uuid6==2024.1.12
uv==0.4.27
uvicorn==0.30.1
uvloop==0.19.0
vtk==9.3.1
w3lib==2.1.2
wasabi==1.1.3
watchdog==4.0.1
watchfiles==0.22.0
wcwidth==0.2.6
weasel==0.4.1
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wordcloud==1.9.3
wrapt==1.16.0
wsproto==1.2.0
xdis==5.0.13
xxhash==3.4.1
xyzservices==2024.9.0
yarl==1.16.0
youtube-transcript-api==0.6.2
yt-dlp==2023.12.30
zipp==3.19.2
zope.interface==6.3
